{% extends 'layout.html' %}
  
{% block body %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Manage Orders</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{url_for('admin_panel')}}">AdminPanel</a></li>
              <li class="breadcrumb-item active">Manage Orders</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
 
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <h3>Order Listing</h3>
            <br><br>            
            <table id="admin_table" class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>user_id</th>
                <th>product_id</th>
                <th>address</th>
                <th>status</th>
                <th>Date_start</th>
                <th>Date_edit</th>
                <th>Date_end</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{order.id}}</td>
                        <td>{{order.user_id}}</td>
                        <td>{{order.products[0].id}}</td>
                        <td>{{order.address.name}}</td>
                        <td>{{order.status}}</td>
                        <td>{{order.date_start.date()}}</td>
                        {% if order.date_edit %}
                            <td>{{order.date_edit.date()}}</td>
                        {%else%}
                            <td>{{order.date_edit}}</td>
                        {% endif %}

                        {% if order.date_end %}
                            <td>{{order.date_end.date()}}</td>
                        {%else%}
                            <td>{{order.date_end}}</td>
                        {% endif %}

                        <td><a href="{{url_for('edit_order', order_id=order.id)}}" class="btn btn-primary">Edit</a></td>
                    </tr> 
              {% endfor %}    
              </tbody>
          </table>    
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}